.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  height: 120vh;
}
.thumbNail-Big-image-container {
  width: 80%;
  padding: 10px;
  height: 400px;
  text-align: center;
  margin-top: 0px;
}
.big-display-image {
  height: 90%;
  width: 60%;
  object-fit: fill;
}
.tab-list-container {
  display: flex;
  margin-top: 0px;
}
.thumbnail-images-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
}
.results-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 16px;
}
.trophy {
  height: 140px;
  width: 170px;
}
.result-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.score-value {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.playAgain-button {
  background-color: #cf60c8;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
.reset {
  display: flex;
  background-color: #cf60c8;
  padding: 5px;
  border-radius: 5px;
}
.reset-img {
  height: 20px;
  width: 20px;
}
